node_modules
coverage
pacts
dist-web
dist-lambda
logs

rnd/event.json
config.sh
*.key
*.key.pub
serverless-output.yml
package-lock.json
/.aider*
/.ai/**/*
config.rc
.aider*
.env
*.js.map
.ai/**/*
.windsurfrules
.clinerules
**/*/__pycache__
