*.key
*.key.pub
dist-lambda/**
dist-web/**
!package.json
!README.md
!LICENSE
run*.sh
poetry*
pyproject.toml
.cruft.json
.ai*
.bumpversion.cfg
.github*
.gitignore
config.*
template.*
docs/**
jest*
test*
example*
VERSION
.python*
.prettier*
.travis*
.git*
*.workspace
src/__mocks__/*
CHANGELOG*
.snyk 